<footer>
        <style>
    </style>
        <div class="container>
            <a href=""><h1>晨晓维</h1></a>
 <!--            <ul>
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-google"></i></a></li>
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
            </ul> -->

            <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
            <p>Made by LiuChen<!-- Copyright © All Right <a href="http://www.17sucai.com/">Reserved</a> --></p>
             <span >本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
        </div>
    </footer>
    <script src="__STATIC__/index/js/jquery.min.js"></script>
    <script src="__STATIC__/index/js/materialize.js"></script>
    <script src="__STATIC__/index/js/owl.carousel.min.js"></script>
    <script src="__STATIC__/index/js/main.js"></script>