    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="__STATIC__/index/css/materialize.css">
    <link rel="stylesheet" href="__STATIC__/index/css/loaders.css">
    <link rel="stylesheet" href="__STATIC__/index/css/line-awesome.css">
    <link rel="stylesheet" href="__STATIC__/index/css/line-awesome-font-awesome.css">
    <link rel="stylesheet" href="__STATIC__/index/css/owl.carousel.min.css">
    <link rel="stylesheet" href="__STATIC__/index/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="__STATIC__/index/css/style.css">
   

   