<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <link href="css/WeUI/weui.min.css" rel="stylesheet" />
    <link href="css/mui/mui.min.css" rel="stylesheet" />
    <style>
    <style > body {
        margin: 0;
        padding: 0;
        font-family: 'Microsoft YaHei';
    }

    img {
        width: 100%;
    }

    h1 {
        text-align: center;
        line-height: 20px;
    }

    .weui-article {
        padding: 5px 15px;
    }

    small {
        color: #1AAC19;
    }

    h2 {
        color: #1AAC19;
    }
    </style>
    <title>联系我们</title>
</head>
<body>
    <img src="images/contact.jpg" />
    <article class="weui-article">
        <h1>联&nbsp;系&nbsp;我&nbsp;们<br /><small>Contact Us</small></h1>
        <section>
            <h2 class="title">联系方式</h2>
            <section>
                <h3>易班中心&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)">0312-7521282</a></h3>
                <h3>技术支持&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)">13483208987</a></h3>
            </section>
            <h2 class="title">地址</h2>
            <section>
                <h3>河北农业大学学生处逸夫楼402</h3>
            </section>
        </section>
    </article>
</body>
</html>