<!DOCTYPE html>
<html lang="zxx">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="images/favicon.png">
	<title>登录</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="__STATIC__/index/css/materialize.css">
	<link rel="stylesheet" href="__STATIC__/index/css/loaders.css">
	<link rel="stylesheet" href="__STATIC__/index/css/line-awesome.css">
	<link rel="stylesheet" href="__STATIC__/index/css/line-awesome-font-awesome.css">
	<link rel="stylesheet" href="__STATIC__/index/css/owl.carousel.min.css">
	<link rel="stylesheet" href="__STATIC__/index/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="__STATIC__/index/css/style.css">

</head>
<body>
	
	<!-- navbar -->
	<div class="navbar">
		<div class="container">
			<div class="row">
				<div class="col s6">
					<div class="content-left">
						<a href="#slide-out" data-activates="slide-out" class="sidebar"><i class="fa fa-bars"></i></a>
						<a href="index.html"><h1>晨晓维</h1></a>
					</div>
				</div>
				<div class="col s6">
					<div class="content-right">
						
							
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end navbar -->
	
	<!-- sidebar -->
	 {include file='public/lan' /}
	<!-- end sidebar -->
	
	<!-- sidebar -->

	<!-- end sidebar -->


	<!-- end sidebar cart -->

	<!-- sign in -->
	<div class="sign-in segments-page">
		<div class="container">
		<div class="signin-contents">
			<div class="pages-title">
				<h3>登录</h3>
			</div>
			<form method="POST" action="{:url('login/check')}">
				<input type="text" placeholder="用户名" name="username">
				<input type="password" placeholder="密码" name="password">
				<button class="button" type="submit"><i class="fa fa-send"></i>登录</button>
			</form>
			<br>
			<a href="{:url('logup/index')}"><button class="button"><i class="fa fa-send"></i>注册</button></a>
		</div>
		</div>
	</div>

	<!-- end sign in -->
    {include file='public/foot' /}
	<script src="__STATIC__/index/js/jquery.min.js"></script>
	<script src="__STATIC__/index/js/materialize.js"></script>
	<script src="__STATIC__/index/js/owl.carousel.min.js"></script>
	<script src="__STATIC__/index/js/main.js"></script>

</body>
</html>
