<!DOCTYPE html>
<html lang="zxx">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="images/favicon.png">
	<title>开发中...</title>

	{include file='public/head' /}

</head>
<body>


	{include file='public/lan' /}

	<!-- page not found -->
	<div class="segments-page">
		<div class="container">
			<div class="page-not-found">
				<h2>wait</h2>
				<h4>页面开发中...</h4>
				<p>页面开发中，后续更新。本网站历时近两个月完成编写，采用thinkphp框架独立完成开发，如有bug以及不顺畅的地方敬请谅解。请点击下方反馈按钮进行反馈。此网站仅为个人使用，送给亲爱的她。    ————晨</p>
				<br>
				<ul>
					
					<li><a href="{:url('fankui/index')}"><i class="fa fa-envelope"></i>意见反馈</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end page not found -->

	<script src="__STATIC__/index/js/jquery.min.js"></script>
	<script src="__STATIC__/index/js/materialize.js"></script>
	<script src="__STATIC__/index/js/owl.carousel.min.js"></script>
	<script src="__STATIC__/index/js/main.js"></script>

</body>
</html>
