<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="__STATIC__/index/images/favicon.png">
    <title>献给你的第十九个生日</title>


    {include file='public/head' /}

</head>

<body>

    <!-- preloader -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- end preloader -->

    <!-- navbar -->

    <!-- end navbar -->

    <!-- sidebar -->
    {include file='public/lan' /}
    <!-- end sidebar -->

    

    <!-- slide -->
    
    <!-- end slide -->

    <!-- category -->
<div class="category segments">
        <div class="container">
            <div class="row">
                <div class="col s3">
                    <div class="content">
                        <a href="{:url('index/index_11')}">
                            <i class="fa fa-car"></i>
                            <span>祝福</span>
                        </a>
                    </div>
                </div>
                <div class="col s3">
                    <div class="content">
                        <a href="{:url('liuyan/index')}">
                            <i class="fa fa-cutlery"></i>
                            <span>留言</span>
                        </a>
                    </div>
                </div>
                <div class="col s3">
                    <div class="content">
                        <a href="{:url('notfound/index')}">
                            <i class="fa fa-camera-retro"></i>
                            <span>相爱</span>
                        </a>
                    </div>
                </div>
                <div class="col s3">
                    <div class="content">
                        <a href="{:url('admin/index/index')}">
                            <i class="fa fa-futbol-o"></i>
                            <span>后台</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <div class="content">
                        <a href="{:url('photo/index')}">
                            <i class="fa fa-female"></i>
                            <span>相册</span>
                        </a>
                    </div>
                </div>
                <div class="col s3">
                    <div class="content">
                        <a href="{:url('video/index')}">
                            <i class="fa fa-cubes"></i>
                            <span>视频</span>
                        </a>
                    </div>
                </div>
                <div class="col s3">
                    <div class="content">
                        <a href="{:url('fankui/index')}">
                            <i class="fa fa-plug"></i>
                            <span>反馈</span>
                        </a>
                    </div>
                </div>
                <div class="col s3">
                    <div class="content">
                        <a href="{:url('index/jilu')}">
                            <i class="fa fa-lemon-o"></i>
                            <span>关于</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end category -->

    <!-- b-seller -->
    <div class="b-seller segments">
        <div class="container">
            <div class="section-title">
                <h3>最美的你</h3>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="content">
                        <div class="image">
                            <img src="__STATIC__/index/images/product2.jpg" alt="">
                        </div>
                        <div class="text">
<!--                             <a href="product-details.html"> -->
                                <p>2018你的第十九个生日</p>
                            </a>
                            <h5>Love</h5>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="content">
                        <div class="image">
                            <img src="__STATIC__/index/images/product3.jpg" alt="">
                        </div>
                        <div class="text">
                           <!--  <a href="product-details.html"> -->
                                <p>感谢你给我我最好的年纪</p>
                            </a>
                            <h5>You</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="content">
                        <div class="image">
                            <img src="__STATIC__/index/images/product4.jpg" alt="">
                        </div>
                        <div class="text">
                            <!-- <a href="product-details.html"> -->
                                <p>青春不负</p>
                            </a>
                            <h5>19 years old</h5>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="content">
                        <div class="image">
                            <img src="__STATIC__/index/images/product1.jpg" alt="">
                        </div>
                        <div class="text">
                           
                                <p>时光不老</p>
                            </a>
                            <h5>Forever</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end b-seller -->

    <!-- banner -->
    <div class="banner">
        <div class="container-fluid">
            <div class="content">
                <img src="__STATIC__/index/images/banner.png" alt="">
            </div>
        </div>
    </div>
    <!-- end banner -->

    <!-- product home -->
    <div class="product-home segments">
        <div class="container">
            <div class="section-title">
                <h3>我们在一起</h3>
            </div>
            <div class="product-slide owl-carousel owl-theme">
                <div class="content">
                    <img src="__STATIC__/index/images/style1.jpg" alt="">
                </div>
                <div class="content">
                    <img src="__STATIC__/index/images/style3.jpg" alt="">
                </div>
                <div class="content">
                    <img src="__STATIC__/index/images/style2.jpg" alt="">
                </div>
                <div class="content">
                    <img src="__STATIC__/index/images/style4.jpg" alt="">
                </div>
            </div>
            <div class="l-more">
                <a href="{:url('photo/index')}">
					更多<i class="fa fa-angle-right"></i>
				</a>
            </div>
        </div>
    </div>
    <!-- end product home -->

    <!-- product home -->
    <div class="product-home p-bottom segments">
        <div class="container">
            <div class="section-title">
                <h3>你的青涩模样</h3>
            </div>
            <div class="product-slide-two owl-carousel owl-theme">
                <div class="content">
                    <img src="__STATIC__/index/images/accessories2.jpg" alt="">
                </div>
                <div class="content">
                    <img src="__STATIC__/index/images/accessories1.jpg" alt="">
                </div>
                <div class="content">
                    <img src="__STATIC__/index/images/accessories3.jpg" alt="">
                </div>
                <div class="content">
                  <img src="__STATIC__/index/images/accessories4.jpg" alt="">
                </div>
            </div>
            <div class="l-more">
                <a href="{:url('photo/index')}">
					更多<i class="fa fa-angle-right"></i>
				</a>
            </div>
        </div>
    </div>
    <!-- end product home -->

    <!-- footer -->
    {include file='public/foot' /}
    <!-- end footer -->



</body>

</html>
