<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta charset="UTF-8">
 <title>Happy Birthday</title>
 <link rel="stylesheet" href="__STATIC__/index_1/css/aaajquery.fullPage.css">
 <link rel="stylesheet" href="__STATIC__/index_1/css/aaastyle.css">

</head>

<body>
 
<div class="bgcolor">
  <div style="z-index:100;" id="dowebok">
      <!--第一屏-->
      <div class="section">
          <div class="ly-box01">
            <div class="ly-txt01">
              <p class="ly-stxt01">这是你离开家的</p>
              <p class="ly-stxt02">第一个生日</p>
              <p class="ly-stxt03">虽然我不在你身边</p>
              <p class="ly-stxt04">但是心永远在你那</p>
              <p class="ly-stxt05">19岁的生日</p>
              <p class="ly-stxt06">&nbsp;&nbsp;&nbsp;&nbsp;我为你祝福</p>
              <p class="ly-stxt07">&nbsp;&nbsp;&nbsp;&nbsp;愿你开心快乐</p>
              <p class="ly-stxt08">&nbsp;&nbsp;&nbsp;&nbsp;我们的爱情</p>
              <p class="ly-stxt09">&nbsp;&nbsp;&nbsp;&nbsp;地久天长</p>
              <p class="ly-stxt10">&nbsp;&nbsp;&nbsp;&nbsp;生日快乐，维维</p>

            </div>

        </div>
      </div> 

      <!--第二屏-->

      <div class="section">
          <div class="timeline"></div>
          <div class="timepoint11"></div>
          <div class="ly-box11">
              <div class="ly-txt11">
                  2014年
              </div>
              <div class="ly-txt12">
                  我们开始相识相知<br>
                  
              </div>
              <div class="ly-imgbox11">
                <img class="ly-img11" src="__STATIC__/index_1/img/2014.11.14-1.jpg">
              </div>
          </div>
          <div class="ly-triangle11"></div>

          

      </div>

      <!--第三屏-->

      <div class="section">
          <div class="timeline"></div>
          <div class="timepoint21"></div>
          <div class="ly-box21">
              <div class="ly-txt21">
                  2015年
              </div>
              <div class="ly-txt22">
                 <p>终于等到你来到高中</p>
				         <p>终于在一起，好喜欢每天看到你</p>
                 <p>喜欢和你在一起，开心快乐的在一起</p>
                 <p>多希望这种开心可以是一辈子</p>

              </div>
              <div class="ly-imgbox21">
                <img class="ly-img21" src="__STATIC__/index_1/img/2014.11.26-1.png">
              </div>
          </div>
          <div class="ly-triangle21"></div>

        
      </div>

      <!--第四屏-->

      <div class="section">
          <div class="timeline"></div>
          <div class="timepoint31"></div>
          <div class="ly-box31">
              <div class="ly-txt31">
                  2016年
              </div>
              <div class="ly-txt32">
                  <p>我毕业了，你还在高中</p>
				          <p>相隔近千公里</p>
                  <p>但是我们心在一起</p>
              </div>
              <div class="ly-imgbox31">
                <img class="ly-img31" src="__STATIC__/index_1/img/2014.12.28-1.JPG">
              </div>
          </div>
          <div class="ly-triangle31"></div>

          
      </div> 

  <!--第五屏-->
  <div class="section">
          <div class="timeline"></div>
          <div class="timepoint21"></div>
          <div class="ly-box52">
              <div class="ly-txt21">
                  2017年
              </div>
              <div class="ly-txt22">
                 <p>异地恋的滋味不好受</p>
				         <p>想念，却见不到</p>
                 <p>但是我们相爱相伴</p>
                 <p>不离不弃</p>
              </div>
              <div class="ly-imgbox21">
                <img class="ly-img21" src="__STATIC__/index_1/img/2015.01.01-1.jpg">
              </div>
          </div>
          <div class="ly-triangle21"></div>

          
      </div>

  <!--第六屏-->
  <div class="section">
          <div class="timeline"></div>
          <div class="timepoint21"></div>
          <div class="ly-box21">
              <div class="ly-txt21">
                  2018年
              </div>
              <div class="ly-txt22">
                 <p>来到了大学</p>
                 <p>而我已经大三了</p>
                 <p>虽然不在一个城市</p>
                 <p>但是还是很近的</p>
                 <p>我们一起去旅行</p>
                 <p>一起生活</p>
                 <p>很开心</p>
              </div>
              <div class="ly-imgbox21">
                <img class="ly-img21" src="__STATIC__/index_1/img/2015.05.19-1.PNG">
              </div>
          </div>
          <div class="ly-triangle21"></div>

          
      </div>

      <!--第七屏-->
      <div class="section">
          <div class="timeline"></div>
          <div class="timepoint71"></div>
          <div class="ly-box21 xx71">
              <div class="ly-txt21">
                  2019年
              </div>
              <div class="ly-txt22">
                 <p> 我们的故事还在继续</p>
                 <p> 希望这一年</p>
                 <p> 我们继续开开心心</p>
                 <p> 一起旅行</p>
                 <p> 多多见面</p>
              </div>
              <div class="ly-imgbox21">
                <img class="ly-img21" src="__STATIC__/index_1/img/2015.05.31-1.png">
              </div>
          </div>
          <div class="ly-triangle21 xx72"></div>

          
      </div>

      <!--第八屏-->

      <div class="section">
          <div class="timeline"></div>
          <div class="timepoint11"></div>
          <div class="ly-box81">
              <div class="ly-txt11">
                  以后的以后
              </div>
              <div class="ly-txt82">
                  我们要结婚<br>
                  我们要有宝宝
              </div>
              <div class="ly-imgbox81">
                <img class="ly-img81" src="__STATIC__/index_1/img/2015.06.18-1.PNG">
              </div>
          </div>
          <div class="ly-triangle11"></div>

          
      </div>

      <!--第九屏-->

<div class="section">
          <div class="timeline"></div>
          <div class="timepoint91"></div>
          <div class="ly-box21 xx91">
              <div class="ly-txt21">
                  forever
              </div>
              <div class="ly-txt90"><br><br><br>
                 <p>我爱你</p>
              </div>
              <div class="ly-imgbox21 xx94">
                <img class="ly-img21" src="__STATIC__/index_1/img/2015.06.24-1.jpg">
              </div>
          </div>
          <div class="ly-triangle21 xx92"></div>

        
      </div>

  <!--试验-->
  <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>

    </ul>
    
  </div>
  <audio src="music/1.mp3" autoplay="autoplay" loop="loop">

<script src="__STATIC__/index_1/js/aaajquery-1.8.3.min.js"></script>
<script src="__STATIC__/index_1/js/aaajquery.fullPage.min.js"></script>
<script src="__STATIC__/index_1/js/aaadiy.js"></script>
</body>
</html>